.third-page{
    display: flex;
    background-color: rgba(0,0,0,0.88);
    position: absolute;
    top: 1390px;
    left: 0;
    right: 0;
    height: 650px;
    align-items: center;
    flex-direction: column;
}
.bestsellers1{
    display: block;
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: -35px;
}
.love{
    width: 40px;
    height: 25px;
    margin-left: -10px;
    margin-right: -11px;
}
.why-love{
    margin-top: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}
.reason{
    /* background-color: lightskyblue; */
    width: 1150px;
    height: 185px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rimg{
    height:130px ;
    width: 130px;
    border-radius: 100px;
    margin-right: 17px;
}
.write{
    color: white;
    font-family: 'Courier New', Courier, monospace, 'Times New Roman';
    font-weight: bold;
}